.counter {
    width: 200px;
    height: 150px;
    border: 2px solid darkslategray;
    margin: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__title {
        //color: palevioletred;
    }

    &__count {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // &--display{
        //     color: red;
        // }
    }
}